:8888 {
        log
        redir /auth/portal /ui/
		import /etc/gatekeeper/auth.txt

        route /* {
                @uiget {
                        method GET
                        path /
                }
                redir @uiget /ui/
                reverse_proxy localhost:4160
        }
		
        route /rclone* {
            jwt
            uri strip_prefix /rclone
            reverse_proxy http://localhost:5572
        }

        handle_path /rpc/* {
            reverse_proxy http://localhost:8080
        }
}